@use '@angular/material' as mat;

@include mat.core();

$frontStorm-primary: mat.define-palette(mat.$indigo-palette);
$frontStorm-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$frontStorm-warn: mat.define-palette(mat.$red-palette);



$frontStorm-theme: mat.define-light-theme((color: (primary: $frontStorm-primary,
        accent: $frontStorm-accent,
        warn: $frontStorm-warn,
      )));

$strm-sidebar-color: #ffffff;


@include mat.all-component-themes($frontStorm-theme);


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



.sidebar-text {
  color: $strm-sidebar-color;
}